html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #f4ffff;
    display: flex;
    font-family: "Dosis", sans-serif;
    height: 100%;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(8, 7, 7, 0.18);
    background: rgba(234, 213, 213, 0.5);
    border: 1px solid rgba(201, 166, 166, 0.18);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 30px;
}

.display {
    font-size: 40px;
    height: 80px;
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(92, 90, 90, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(8, 7, 7, 0.18);
    font-family: inherit;
    font-size: 27px;
    height: 65px;
    flex-basis: 20%;
    cursor: pointer;
}

.operator {
    color: #0084ff;
}

.delete {
    color: #f84444;
}

.clear {
    color: #f84444;
}

.equal {
    background: rgba(140, 229, 254, 0.5);
}

button:hover {
    background: rgba(255, 255, 255, 0.8);
}

button:active {
    background: rgba(92, 90, 90, 0.8);
}
